html{
  font-size: 20px;
}

body{
  font-family:'Arial','Meiryo',sans-serif ;
  text-align: center;
}

.pink{
  color:rgb(255, 192, 203);
}

.blue{
  color: skyblue;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

#basic>p{
  font-weight: bold;
}
